alembic==1.8.1
aniso8601==9.0.1
async-timeout==4.0.2
attrs==21.4.0
Authlib==1.0.1
beautifulsoup4==4.10.0
bs4==0.0.1
cachelib==0.9.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.3
cryptography==37.0.4
Deprecated==1.2.13
Flask==2.0.3
Flask-Caching==2.0.1
Flask-Cors==3.0.10
Flask-IPFilter==0.0.5
Flask-JWT-Extended==4.4.4
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-Restless==0.17.0
flask-restplus==0.13.0
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.10.2
geojson==2.5.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.4.0
itsdangerous==2.1.0
Jinja2==3.0.3
jsonschema==4.4.0
Mako==1.2.1
MarkupSafe==2.1.0
marshmallow==3.17.1
mimerender==0.6.0
numpy==1.21.6
packaging==21.3
pkgutil_resolve_name==1.3.10
psycopg2-binary==2.9.3
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-mimeparse==1.6.0
pytz==2021.3
redis==4.3.4
requests==2.27.1
Shapely==1.8.1.post1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.7.0